.workspace {
  background-color: #F1F2F6;
  flex: 1;
  position: relative;
  .left {
    display: flex;
    height: 100%;
    max-width: 100%;
    transition: max-width 100ms linear;
    input.is-small {
      height: 2.1em;
    }
    &.explorer-visible {
      max-width: 70%;
    }
    .page.case {
      max-width: 60em;
      margin-left: auto;
      margin-right: auto;
      .tabs {
        margin-bottom: 15px;
      }
    }
  }
  .right {

  }
}
