.summary {
  hr {
    background-color: lightgrey;
    border: none;
    display: block;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .i1 {
    display: flex;
    .i1-a {
      flex: 2;
      .field {
        // align-items: center;
        .field-label {
          flex: 1;
          margin-right: 5px;
        }
        .field-body {
          flex: 1;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    .i1-b {
      background-color: $primary-very-light;
      border: 1px solid $primary-light;
      flex: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      // margin: 0px 10px;
      border-radius: 3px;
      .field {
        align-items: center;
        .field-label {
          flex: unset;
          margin-right: 6px;
          label {
            font-size: 10px;
            color: $primary-very-dark;
          }
        }
        .field-body {
          .field {
            .control {
              input {
                border: 1px solid $primary;
              }
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
    .i1-c {
      flex: 3;
      .field {
        // align-items: center;
        .field-label {
          flex: 5;
          margin-right: 5px;
        }
        .field-body {
          flex: 2;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .i2 {
    display: flex;
    margin-top: 5px;
    .i2-a {
      flex: 2;
      .field {
        // align-items: center;
        .field-label {
          flex: 1;
          margin-right: 5px;
        }
        .field-body {
          flex: 1;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    .i2-b {
      flex: 15;
      // margin: 0px 10px;
      // padding: 0px 6px;
      display: flex;
      .i2-ba {
        flex: 14;
        .field {
          // align-items: center;
          .field-label {
            flex: 9;
            margin-right: 5px;
          }
          .field-body {
            flex: 4;
          }
          &.explorable.is-explore {
            .field-label {
              label {
                color: $explore;
              }
            }
            .field-body {
              .field {
                .control {
                  input {
                    border: 1px solid $explore;
                  }
                }
              }
            }
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      .i2-bb {
        flex: 15;
        .field {
          // align-items: center;
          .field-label {
            flex: 7;
            margin-right: 5px;
          }
          .field-body {
            flex: 3;
          }
          &.explorable.is-explore {
            .field-label {
              label {
                color: $explore;
              }
            }
            .field-body {
              .field {
                .control {
                  input {
                    border: 1px solid $explore;
                  }
                }
              }
            }
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      .i2-bc {
        flex: 17;
        .field {
          // align-items: center;
          .field-label {
            flex: 7;
            margin-right: 5px;
          }
          .field-body {
            flex: 3;
          }
          &.explorable.is-explore {
            .field-label {
              label {
                color: $explore;
              }
            }
            .field-body {
              .field {
                .control {
                  input {
                    border: 1px solid $explore;
                  }
                }
              }
            }
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
    .i2-c {
      flex: 5;
      .field {
        // align-items: center;
        .field-label {
          flex: 5;
          margin-right: 5px;
        }
        .field-body {
          flex: 2;
        }
        &.explorable.is-explore {
          .field-label {
            label {
              color: $explore;
            }
          }
          .field-body {
            .field {
              .control {
                input {
                  border: 1px solid $explore;
                }
              }
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .i3 {
    display: flex;
    margin-top: 5px;
    padding-left: 6px;
    .i3-a {
      flex: 1;
      .field {
        .field-label {
          display: flex;
          align-items: center;
          padding-top: 0px;
          flex: 0;
          margin-right: 5px;
        }
        .field-body {
          flex: 1;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .i4 {
    display: flex;
    margin-top: 5px;
    background-color: $primary-very-light;
    border: 1px solid $primary-light;
    padding: 6px;
    border-radius: 3px;
    .i4-a {
      flex: 1;
      align-items: center;
      padding-top: 0px;
      display: flex;
      .field {
        flex: 1;
        .field-label {
          flex: 0;
          margin-right: 5px;
          display: flex;
          align-items: center;
          padding-top: 0px;
        }
        .field-body {
          flex: 1;
          .field {
            .control {
              textarea {
                padding: 3px;
                font-size: 12px;
              }
            }
          }
        }
        &.explorable.is-explore {
          .field-label {
            label {
              color: $explore;
            }
          }
          .field-body {
            .field {
              .control {
                textarea {
                  border: 1px solid $explore;
                }
              }
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    .i4-b {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 6px;
      .field {
        .field-label {
          flex: 0;
          margin-right: 5px;
        }
        .field-body {
          flex: 1;
        }
        &.explorable.is-explore {
          .field-label {
            label {
              color: $explore;
            }
          }
          .field-body {
            .field {
              .control {
                input {
                  border: 1px solid $explore;
                }
              }
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    .i4-c {
      flex: 1;
      display: flex;
      align-items: center;
      padding-top: 0px;
      .field {
        flex: 1;
        .field-label {
          flex: 0;
          margin-right: 5px;
          display: flex;
          align-items: center;
          padding-top: 0px;
        }
        .field-body {
          flex: 1;
          .field {
            .control {
              textarea {
                padding: 3px;
                font-size: 12px;
              }
            }
          }
        }
        &.explorable.is-explore {
          .field-label {
            label {
              color: $explore;
            }
          }
          .field-body {
            .field {
              .control {
                textarea {
                  border: 1px solid $explore;
                }
              }
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .i5 {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    .i5-a {
      flex: 1;
      display: flex;
      justify-content: center;
      background-color: $primary-very-light;
      border: 1px solid $primary-light;
      border-radius: 3px;
      .i5-aa {
        flex: 1;
        border-right: 1px solid $primary-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 8px;
        .i5-aa-1 {
          text-align: center;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          height: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .i5-aa-2 {
          padding: 0px 10px;
          .field {
            .field-label {
              flex: 0;
              margin-right: 5px;
              display: flex;
              align-items: center;
              padding-top: 0px;
              label {
                font-size: 10px;
                color: $primary-very-dark;
              }
            }
            .field-body {
              .field {
                .control {
                  input {
                    border-bottom: 1px solid $primary;
                    background-color: $primary-very-light;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-radius: 0px;
                    box-shadow: none;
                  }
                }
              }
            }
            &.explorable.is-explore {
              .field-label {
                label {
                  color: $explore;
                }
              }
              .field-body {
                .field {
                  .control {
                    input {
                      border-bottom: 1px solid $explore;
                    }
                  }
                }
              }
            }
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
      .i5-ab {
        flex: 0 0 104px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 8px;
        .i5-ab-1 {
          text-align: center;
          font-size: 10px;
          font-weight: 500;
          height: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .i5-ab-2 {
          padding: 0px 10px;
          .field {
            .field-label {
              flex: 0;
              margin-right: 5px;
              display: flex;
              align-items: center;
              padding-top: 0px;
              label {
                font-size: 10px;
                color: $primary-very-dark;
              }
            }
            .field-body {
              .field {
                .control {
                  input {
                    border-bottom: 1px solid $primary;
                    background-color: $primary-very-light;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-radius: 0px;
                    box-shadow: none;
                  }
                }
              }
            }
            &.explorable.is-explore {
              .field-label {
                label {
                  color: $explore;
                }
              }
              .field-body {
                .field {
                  .control {
                    input {
                      border-bottom: 1px solid $explore;
                    }
                  }
                }
              }
            }
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    .i5-b {
      padding: 5px 10px;
      background-color: $primary-very-light;
      border: 1px solid $primary-light;
      border-radius: 3px;
      margin-top: 8px;
      .field {
        .field-label {
          flex: unset;
          margin-right: 5px;
          display: flex;
          align-items: center;
          padding-top: 0px;
          label {
            font-size: 10px;
            color: $primary-very-dark;
          }
        }
        .field-body {
          .field {
            .control {
              input {
                border-bottom: 1px solid $primary;
                background-color: $primary-very-light;
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0px;
                box-shadow: none;
              }
            }
          }
        }
        &.explorable.is-explore {
          .field-label {
            label {
              color: $explore;
            }
          }
          .field-body {
            .field {
              .control {
                input {
                  border-bottom: 1px solid $explore;
                }
              }
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
}
