@import "util/reset";
@import "util/normalize";

$teal: #00897b;
$primary: $teal;
$white: #ffffff;
$light-grey: #f5f5f5;
$very-light-grey: #fafafa;
$primary-very-light: lighten($primary, 72%);
$primary-dark: darken($primary, 50%);
$primary-very-dark: #004d40;
$primary-light: #b2dfdb;
$explore: #ffb300;
$danger: $explore;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color: $primary;
$navbar-background-color: $primary;
$navbar-item-color: $very-light-grey;
$navbar-item-hover-color: $primary-very-dark;
$navbar-item-hover-background-color: $primary-very-light;
$navbar-dropdown-background-color: $primary-very-light;
$navbar-dropdown-arrow: $very-light-grey;
$navbar-dropdown-item-hover-color: $primary-very-dark;

@import 'bulma';
@import '~bulma-switch';

//COMPONENTS
@import "components/workspace";
@import "components/page";
@import "components/fhir-explorer";
@import "components/nav-bottom";
@import "components/nav-top";
@import "components/case/summary";
@import "components/case-picker";

@import "main";
